<html>
  <head>
    <!-- Header -->
    {{partial "header"}}
    <!-- End -->
  </head>
  <body>
    <!-- Content -->
    {% body %} 
    <!-- End -->
    <!-- inject:js -->
    <!-- endinject -->
  </body>
  <footer>    
      <ul class="nav background-grape color-text font-weight-bold py-2">
        <li class="nav-item col-md-6 col-sm-12 text-center mx-auto">Contato : ( 15 ) 99107 - 2024</li>        
      </ul>    
  </footer>
</html > 