<html>
  <head>
    <!-- Header -->
    {{partial "header"}}
    <!-- End -->
  </head>
  <body>
    <!-- Content -->
    {% body %} 
    <!-- End -->
    <!-- inject:js -->
    <!-- endinject -->
  </body> 
</html > 