@import 'config';

[data-toggle='modal'],
[type='button'] { cursor: pointer;
}

.container-fluid {
  @extend %background-eggplant  !optional;
  @extend %color-text !optional;

  .card {
    opacity: .9;

    &:hover { opacity: 1; }
  }

  &.no-padding { padding: 0; }

  .icon {
    bottom: 5px;
    font-size: 40px;
    position: absolute;
    right: 10px;

    transform: rotate(-45deg);
  }

  .nav {
    @extend %background-grape !optional;

    &-item {
      font-weight: bold;
      padding: 10px;
    }
  }
}
