@import 'config';

.container-fluid {
  @extend %background-eggplant  !optional;
  @extend %color-text !optional;

  height: 100%;

  &.no-padding { padding: 0; }

  .nav {
    @extend %background-grape !optional;

    &-item {
      font-weight: bold;
      padding: 10px;
    }
  }
}
